@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');
@font-face {
    font-family: myFirstFont;
    src: url(Net-Proxima-Nova-Bold.ttf);
    font-weight: bold;
}

body {
    background: #F6F8FA;
    direction: rtl;
    font-family: 'Tajawal', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Tajawal', sans-serif !important;
}

ul,
li,
a {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.padding-fluid {
    padding-left: 20px;
    padding-right: 20px !important;
}

.cleaner {
    clear: both;
}

.div-home-1:hover {
    background: #F6E3E3;
}

.cleaner-h1 {
    clear: both;
    height: 10px;
}

.cleaner-h2 {
    clear: both;
    height: 20px;
}

.cleaner-h3 {
    clear: both;
    height: 30px;
}

.cleaner-h4 {
    clear: both;
    height: 40px;
}

.cleaner-h5 {
    clear: both;
    height: 50px;
}

.header {
    width: 100%;
    height: 516px;
    background: #2E619E;
    background-image: url(../image/slide-home/Mask%20Group%209.png);
    background-size: cover;
    background-position: center center;
}

.menu-web ul {
    float: left;
    margin-top: 35px;
}

.menu-web ul li {
    display: inline-block;
    margin-right: 19px;
}

.menu-web ul li a {
    color: white;
}

.menu-web ul li.free {
    margin-right: 15px !important;
    margin-left: 0px !important;
}

.menu-web ul li.free a {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: bold;
}

.menu-web ul li.login {
    margin-right: 22px !important;
    margin-left: 0px !important;
}

li.login a {
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: bold;
    background: red;
}

.menu-web ul li.lang {
    margin-right: 15px !important;
    margin-left: 0px !important;
}

.menu-web ul li.lang a {
    background: #1B385C;
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: bold;
}

.slider h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
}

ul.menu-slider li {
    display: inline-block;
    margin-right: 40px;
}

ul.menu-slider li p {
    text-align: center;
    color: white;
    font-size: 18px
}

ul.menu-slider li p.p-first {
    margin-right: -28px;
}

ul.menu-slider li p.p-second {
    margin-right: -1px;
}

ul.menu-slider li p.p-third {
    margin-right: -4px;
}

ul.menu-slider li p.p-forth {
    margin-right: -4px;
}

.btn-try {
    padding: 7px 20px;
    border-radius: 26px;
    background: #2E619E;
    /* ANIMATION: px; */
    border: 0px;
    font-size: 18px
}

.background-search {
    width: 100%;
    background: white;
    border-radius: 15px;
    position: relative;
    top: -105px;
    margin-bottom: -90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div-home {
    text-align: center;
    border: 2px solid #A61D21;
    border-radius: 15px;
    padding: 21px 10px 11px;
}

.div-home img {
    display: inline;
    height: 48px;
}

.div-home h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    color: #A61D21;
}

.background-search a:hover {
    text-decoration: none;
}

.search {
    width: 100%;
    background: #F6F8FA;
    border-radius: 15px;
    padding: 2px 15px 15px;
}

.search h3 {
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.search input {
    width: 79%;
    height: 40px;
    background: white;
    border: 0px;
    border-radius: 7px;
    padding-right: 40px;
}

.filter {
    background: #F6E3E3;
    border: 1px solid #A61D21;
    border-radius: 5px;
    padding: 7px 10px;
}

.btn-search {
    padding: 10px 30px;
}

.btn-view {
    background: #A61D21;
}

.btn-searccch {
    background: #2E619E;
    border: 1px solid #2E619E;
}

.btn-searccch:hover {
    background: #0A3972;
}

.img-position {
    position: absolute;
    right: 42px;
    top: 72px;
}

.video {
    position: relative;
}

.video img.video-play {
    width: 100%;
    height: 450px;
    position: relative;
    top: -33px;
    border-radius: 17px;
}

.background-opacity {
    width: 100%;
    height: 450px;
    position: relative;
    top: -482px;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    margin-bottom: -500px !important;
}

.img-position-video {
    position: relative;
    top: -381px;
    z-index: 2;
    margin-bottom: -383px !important;
    margin-right: 46%;
}

.title-classs {
    font-weight: bold;
}

.Recommended-block {
    padding: 20px 25px;
    border-radius: 17px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.Recommended-block h4 {
    float: right;
    font-weight: bold;
}

.block {
    background: #2E619E;
    padding: 10px 20px;
    color: white;
    border-radius: 27px;
    float: right;
    margin-right: 15px;
}

h5.prize {
    font-size: 40px;
    font-weight: bold;
    float: right;
    margin-left: 7px;
}

.prize-details {
    font-size: 25px;
    float: right;
    line-height: 38px;
}

ul.sub li {
    line-height: 40px;
    color: #6D7893;
    font-size: 18px
}

ul.sub li img {
    margin-left: 10px;
}

.btn-white {
    width: 100%;
    padding: 13px;
    border-radius: 13px;
    background: white;
    color: #2E619E;
    border: 1px solid #2E619E;
}

.red-block .block {
    background: #A61D21;
}

.btn-red {
    background: #A61D21;
    color: white;
}

.fotter {
    width: 100%;
    height: 49px;
    background: #2E619E;
}

.fotter ul {
    margin-top: 14px;
}

.fotter ul li {
    display: inline-block;
    margin-right: 25px;
    margin-left: 15px;
}

.fotter ul li a {
    color: white;
}

.menu-social li {
    display: inline-block;
    margin-right: 40px;
}

.menu-social li img.face-icon {
    margin-top: -10px;
}

.strip-fotter {
    color: #6D7893;
    font-size: 14px;
}

.model-signin {
    width: 80%;
    margin-top: 140px;
}

.modal-dialog {
    margin-left: 25% !important;
}

.modal-header {
    text-align: center;
    border: 0px !important;
}

.modal-header h3 {
    font-weight: bold;
    color: #2F3842;
}

.sign-in {
    margin-top: -32px;
}

.sign-in input {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #E2E6E9;
    border-color: #E2E6E9;
}

.sign-in label {
    color: #2F3842;
    font-weight: 800;
    position: relative;
    top: 17px;
    right: 13px;
    background: white;
}

p.p-login {
    font-size: 16px;
}

.p-login a {
    font-weight: bold;
}

.pagination {
    color: #6D7893;
    font-size: 18px
}

.pagination span {
    font-size: 10px;
}

.pagination a {
    color: #A61D21;
    font-size: 14px;
}

.back-shadow {
    padding: 15px;
    width: 100%;
    background: white;
    border-radius: 12px;
}

.actions-but {
    float: left;
}

.btn-width {
    width: 150px;
    padding: 10px 0px;
    float: right;
    margin-right: 15px;
}

.btn-contine {
    background: #A61D21;
    font-weight: bold;
}

.btn-draft {
    background: #F5E6E6;
    font-weight: bold;
    color: #A61D21;
    border: 1px solid #F5E6E6;
}

.btn-discard {
    background: #F4F6F8;
    font-weight: bold;
    color: #7583A0;
    border: 1px solid #F4F6F8;
}

.background-payment {
    background: white;
    border-radius: 17px;
    padding: 20px;
}

.background-payment h3 {
    font-weight: bold;
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.prize-pop h3,
.prize-pop h4 {
    padding: 0px;
    margin: 0px;
}

.prize-pop h3 {
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.prize-pop h4 {
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.model-annaul {
    padding: 0px 25px;
}

.model-annaul input {
    width: 100%;
    height: 44px;
    border-radius: 7px;
    border: 1px solid #E2E6E9;
    padding: 0px 10px;
}

.btn-cont {
    background: #2E619E;
}

.blog img {
    border-radius: 15px;
    width: 100%;
    height: 170px;
    margin-bottom: 13px;
}

.blog p {
    color: #6D7893;
    font-size: 14px;
    line-height: 25px;
}

.btn-width-read {
    width: 40%;
    padding: 7px;
    border-color: red;
    color: #171D22;
}

.img-width {
    float: right;
    width: 350px;
    height: 300px;
    margin-left: 20px;
}

.blog-details p {
    font-size: 16px;
    color: #6D7893;
    line-height: 33px;
}

.bloc-free {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.bloc-free img {
    width: 100%;
    height: 290px;
}

.bloc-free h3 {
    padding: 0px;
    margin: 0px;
    margin-top: 14px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
    color: black;
}

.bloc-free p {
    color: #6D7893;
    font-size: 18px;
    line-height: 23px;
    margin: 0px;
    padding: 0px;
}

.block-opacity {
    position: absolute;
    top: 37px;
    left: 35px;
    background: #A61D21;
    color: white;
    width: 75px;
    border-radius: 0px 7px 7px 0px;
}

.block-opacity p {
    color: white;
    text-align: center;
}

.offers {
    left: 14px;
    top: 10px;
    width: 80px;
    border-radius: 0px 20px 20px 0px;
}

.offers p {
    padding-top: 7px;
}

.offers img {
    float: right;
    margin-right: 11px;
    margin-top: 9px;
}

.data {
    margin-top: -80px;
}

.div-home-1 img {
    float: right;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    margin-top: 16px;
    margin-right: 27px;
    margin-left: 13px;
}

.div-home-1 {
    background: white;
    border: 1px solid #A61D21;
    border-radius: 50px;
}

.div-home-1 h2 {
    font-size: 15px;
    margin-top: 12px;
    line-height: 20px;
    color: #A61D21;
}

.background-search-int {
    position: static;
    margin-top: -88px;
    margin-bottom: 78px;
}

.templates a:hover {
    text-decoration: none;
}

.about-h {
    font-size: 25px !important;
    color: #171D22 !important;
    font-weight: 800 !important;
    text-transform: uppercase;
}

.about-p {
    font-size: 18px !important;
    line-height: 26px;
    color: #171D22 !important;
    margin-bottom: 30px;
}

.model-filter h3 {
    padding: 0px;
    margin: 0px;
    float: right;
    margin-top: 3px;
    font-size: 18px;
}

.model-filter {
    border-bottom: 1px solid #D3D6DE !important;
    margin-bottom: -20px;
}

ul.filteration li {
    display: inline-block;
}

ul.filteration li {
    background: #A61D21;
    padding: 7px 20px;
    border-radius: 17px;
    border: 1px solid #6D7893;
    color: white !important;
    margin-left: 10px;
}

ul.filteration li a {
    color: white;
}

ul.filteration li p {
    margin: 0px;
    padding: 0px;
}

ul.filteration li.non {
    background: white !important;
}

ul.filteration li.non p {
    color: #171D22;
}

h3.title {
    font-size: 16px;
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background: #D3D6DE;
    margin-top: 15px;
}

a.clear {
    float: right;
    margin-top: 11px;
    color: #a61d21;
}

.right-bt {
    float: left;
    width: 132px;
    padding: 8px 0px;
}

.nav-gemy>li>a {
    background: white;
    border-radius: 17px;
    border: 0px;
    color: #6D7893;
}

.nav-gemy>li {
    margin-left: 10px;
}

.nav-gemy {
    border: 0px !important;
}

.nav-gemy>li.active>a,
.nav-gemy>li.active>a:hover,
.nav-gemy>li.active>a:focus {
    background: #2E619E;
    font-weight: bold;
    color: white;
}

.nav-gemy-last>li {
    border-left: 1px solid #6D7893;
}

.nav-gemy-last>li>a {
    color: #6D7893;
    padding: 0px 15px;
}

.nav-gemy-last>li.active>a,
.nav-gemy-last>li.active>a:hover,
.nav-gemy-last>li.active>a:focus {
    color: #A61D21;
    background: none;
    border: 0px;
}

.nav-gemy-last {
    border: 0px;
    margin-top: 12px;
}

.data-da {
    padding-right: 20px;
    border-right: 1px solid #C5C9D4;
}

.right-pad {
    margin-right: 14px !important;
}

.data-da h5 {
    font-weight: bold;
    line-height: 30px;
}

ul.rounded {
    margin-right: 13px;
    margin-top: 11px;
}

ul.rounded li {
    list-style: disc !important;
    line-height: 27px;
    font-size: 15px;
    color: #171D22 !important;
}

.color-p {
    color: #171D22 !important;
    font-size: 15px !important;
}

.padding-block {
    padding: 10px 20px;
}

.form-inputs input,
.form-inputs select {
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    height: 40px;
    padding-right: 10px;
}

.form-inputs .all-colum {
    width: 98%;
    float: right;
    margin-bottom: 15px;
}

.form-inputs ::placeholder {
    color: #7F8AA4;
    font-weight: 200;
    font-size: 13px;
}

.form-inputs .mid-colum {
    width: 48%;
    float: right;
    margin-left: 2%;
    margin-bottom: 15px;
}

.carsoul-inputs .carousel-control.right,
.carsoul-inputs .carousel-control.left {
    background: none !important;
    background-image: none !important;
    background-color: none !important;
}

.carsoul-inputs .carousel-indicators {
    display: none;
}

.carsoul-inputs .carousel-control {
    top: 334px;
}

.carsoul-inputs .left {
    right: 88px;
}

.carsoul-inputs .carousel-control .glyphicon-chevron-left,
.carsoul-inputs .carousel-control .icon-prev {
    margin-right: 461px;
    font-size: 17px;
    padding-top: 14px;
    color: #7583A0;
    text-shadow: none;
    margin-top: 50px;
}

.carsoul-inputs .carousel-control .glyphicon-chevron-right,
.carsoul-inputs .carousel-control .icon-next {
    margin-right: 404px;
    font-size: 17px;
    padding-top: 14px;
    color: #A61D21;
    text-shadow: none;
    margin-top: 50px;
}

.carsoul-inputs .sr-only {
    overflow: visible;
    clip: auto;
}

.carsoul-inputs .left .sr-only {
    right: 485px;
    font-size: 17px;
    padding-top: 3px;
    color: #7583A0;
    text-shadow: none;
    padding-top: 65px;
}

.carsoul-inputs .right .sr-only {
    right: 495px;
    color: #A61D21;
    text-shadow: none;
    font-weight: bold;
    font-size: 17px;
    padding-top: 64px;
}

.preview {
    float: left;
    margin-left: 18px;
    color: #2E619E;
    background: #E8EDF4;
    border: 1px solid #E8EDF4;
    position: relative;
    top: 110px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background: red !important;
    border-radius: 30px !important;
}

.daterangepicker .drp-selected {
    display: none !important;
}

.bloc-slider {
    height: 512px;
}

.back-searc {
    margin-bottom: -200px !important;
}

.marg-top {
    margin-top: 50px;
}

.margin-top {
    margin-top: -15px;
}

.menu-white-dash {
    margin-top: -20px;
}

.menu-white-dash ul li a {
    color: black;
    font-weight: 500
}

.menu-white-dash ul li.free a {
    border: 1px solid black;
}

.menu-white-dash ul li.lang a {
    color: white;
}

.header-dashboard {
    background: white;
}

.logo-dashboard {
    margin-top: -10px;
    float: right;
}

.back-menu-left {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 15px 20px;
}

.back-menu-left ul li {
    display: inline-block;
    width: 100%;
    /* line-height: 47px; */
    float: right;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px;
    background: white;
    border: 1px solid #E6E8ED;
}

.back-menu-left ul li img {
    float: right;
    margin-left: 15px;
}

.back-menu-left h4 {
    margin-bottom: 25px;
}

.back-menu-left ul li p {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #6D7893;
}

.back-menu-left ul li p.logout {
    color: #A61D21;
}

.activer-ul {
    background: #E9EFF5 !important;
    color: #2E619E !important;
    font-weight: bold;
}

.activer-ul p {
    color: #2E619E !important;
}

.tables {
    background: #F6F8FA;
    width: 100%;
    border-radius: 7px;
    padding: 0px 20px 20px;
}

.img-icon {
    float: right;
    margin-top: 18px;
    margin-left: 15px;
}

.back-table-white {
    margin-bottom: 15px;
}

.title-table th {
    line-height: 55px;
}

.back-table-white th,
.back-table-white td {
    line-height: 43px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 7px;
}

tr:nth-child(even) {
    background-color: white;
}

.drop-table {
    right: -183px;
}

.open>.drop-table {
    display: block;
    width: 193px;
}

.back-table-left {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 15px 20px;
}

.drop-table img {
    float: right;
    margin-right: 13px;
    margin-left: 15px;
    /* line-height: 30px; */
    padding-top: 10px;
}

.subscription {
    background: #A61D21 !important;
}

.logout-final {
    float: right;
    color: white !important;
}

.right-sub {
    float: left;
    color: white !important;
}

.model-subscription {
    padding: 0px !important;
    border-radius: 17px !important;
}

.color-status {
    color: #A61D21;
}

.picture img {
    float: right;
    margin-left: 15px;
}

.picture h5 {
    padding-top: 5px;
}

.picture p {
    color: #8D99A6;
    font-size: 13px;
}

.profile {
    background: white;
    border: 2px solid #EAEAEA;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 20px;
}

.profile h4 {
    color: #8D99A6;
    font-weight: bold;
    margin-bottom: 18px;
    float: right;
}

a.icon-edit {
    float: left;
    margin-top: 15px;
}

.contact-info li img {
    float: right;
    margin-left: 10px;
    padding-top: 10px;
}

.contact-info li span,
.contact-info li p {
    display: inline-block;
}

.contact-info li {
    line-height: 37px;
}

.contact-info li span {
    color: #8D99A6;
}

.contact-info li p {
    color: #455569;
}

.h4-red {
    color: #A61D21 !important;
}

.change-pas {
    font-size: 13px !important;
    color: #6D7893 !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
    margin-top: 16px;
}

.icon-edit-change {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

.div-block {
    width: 100%;
    background: white;
    border-radius: 17px;
    padding: 20px;
}

.text h3 {
    font-size: 29px;
    font-weight: 800 !important
}

ul.social-conatct li {
    display: inline-block;
    margin-left: 15px;
}

ul.social-conatct li img {
    width: 25px;
    height: 25px;
}

ul.social-conatct li img.face {
    width: 15px;
    height: 25px;
    margin-top: -18px;
}

.contact-us {
    width: 100%;
    background: #6D7893;
    border-radius: 12px;
    padding: 10px 32px 20px;
    color: white;
}

.contact-us input {
    width: 100%;
    height: 35px;
    border-radius: 7px;
    margin-top: 15px;
    background: #B5BBC9;
    border: 0px;
    padding: 0px 10px;
}

.contact-us textarea {
    width: 100%;
    height: 135px;
    border-radius: 7px;
    margin-top: 15px;
    background: #B5BBC9;
    border: 0px;
    padding: 7px 10px;
}

.btn-contact {
    width: 150px;
    float: left;
    margin-top: 14px;
    background: #A61D21;
}

.panel-title-left {
    float: right;
}

.panel-title-right {
    float: left;
}

.panel-default>.panel-heading {
    background: white;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-default {
    border: 0px;
}

.panel-group .panel,
.panel-default>.panel-heading {
    margin-bottom: 0;
    border-radius: 20px;
    padding: 11px 12px;
}

.panel-title-left a {
    color: black;
    font-weight: bold;
    padding: 28px 0px 26px 1185px;
}

.panel-body {
    color: #6D7893;
}

.signout-in {
    display: block;
    margin-right: 12px !important;
}

.signout-in a img {
    margin-top: -9px;
}

.open>.drop-menu-sign {
    display: block;
    width: 161px;
    top: 10px;
    left: 121px;
}

.drop-menu-sign li {
    display: inline-block;
    margin-right: 7px !important;
    width: 100%;
    line-height: 40px;
}

.drop-menu-sign li img {
    float: right;
    margin-right: 7px;
    margin-left: 7px;
    width: 20px;
    height: 20px;
}

.drop-menu-sign>li>a {
    padding: 0px;
    line-height: 0px;
    display: inline-block
}

.drop-menu-sign>li>a:hover {
    background: none !important;
}

.buton-expand {
    z-index: 99999999999;
    background: none;
    border: 0px;
    float: left;
    margin-top: -34px;
    margin-left: 13px;
}

.well {
    padding: 0px !important;
    margin: 0px !important;
    background-color: none !important;
    border: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.menu-white-dash .login a {
    color: white;
}

.drop-menu-lang {
    left: 95px !important;
}

.open>.drop-menu-lang {
    min-width: 100px !important;
}

.drop-menu-lang {
    min-width: 100px !important;
}

.drop-menu-lang li a {
    background: none !important;
    color: black !important;
    padding: 10px 9px !important;
}

.back-menu-left ul li:hover {
    text-decoration: none;
    color: #2E619E !important;
    background: #E9EFF5 !important;
    color: #2E619E !important;
}

.back-menu-left ul li:hover a {
    text-decoration: none;
    color: black !important;
}

.back-menu-left ul li:hover p {
    color: #2E619E !important;
}

.slider .carousel-control.left,
.slider .carousel-control.right {
    background-image: none !important;
}

.slider .carousel-control.left {
    left: -84px !important;
}

.slider .carousel-control.right {
    right: -195px !important;
}

.carousel-control span {
    border: 1px solid white;
    padding: 10px 7px;
    border-radius: 25px;
    font-size: 14px !important;
    color: white;
    line-height: 8px;
    left: 149px !important;
}

.bottom-slider {
    padding: 0px 30px;
}

.bottom-slider .carousel-control.left,
.bottom-slider .carousel-control.right {
    background-image: none !important;
}

.bottom-slider .carousel-control.left {
    left: -43px !important;
    font-size: 21px !important;
    color: black !important;
    box-shadow: none !important;
}

.bottom-slider .carousel-control.left span {
    color: black;
    font-size: 21px !important;
}

.bottom-slider .carousel-control.right {
    right: -192px !important;
    font-size: 21px !important;
    color: black !important;
    box-shadow: none !important;
}

.bottom-slider .right span {
    right: 181px !important;
    font-size: 21px !important;
    color: black !important;
    box-shadow: none !important;
}

.sign-in-in,
.loogin {
    display: none;
}

.sign-in h3 {
    text-align: center;
    font-weight: bold;
}

.slider .carousel-control.right {
    right: -123px !important;
}

.bottom-slider .carousel-control.left {
    left: -94px !important;
}


/*.carsoul-inputs .left {
    left: 0px !important;
	right: 466px !important;
}*/

@media only screen and (max-width: 600px) {
    .navbar-brand>img {
        display: block;
        width: 91px;
        margin-top: -14px;
    }
    .Recommended-block {
        height: auto;
    }
    .modal-dialog {
        margin-left: 0% !important;
    }
    .model-signin {
        width: 91%;
        margin-right: 4%;
    }
    .title-table th {
        line-height: 29px;
    }
    .back-table-white th,
    .back-table-white td {
        margin-bottom: 0px;
        line-height: 21px;
    }
    .nav-home {
        background: none !important;
        border: none !important;
        margin-top: -60px;
    }
    .nav-home .navbar-nav>li>a {
        color: white;
    }
    .nav-home .navbar-toggle {
        border-color: #ddd;
        background: white;
    }
    .nav-home .navbar-collapse,
    .nav-home .navbar-form {
        border-color: #e7e7e7;
        position: absolute;
        background: #750609;
        width: 100%;
        z-index: 999999;
    }
    .img-witdht-responsive {
        width: 100%;
    }
    .bloc-free img {
        height: auto;
    }
    .btn-width {
        width: 120px;
    }
    .nav-gemy>li>a {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .nav-tabs>li>a {
        font-size: 12px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border: none;
    }
    .carsoul-inputs .carousel-control .glyphicon-chevron-left,
    .carsoul-inputs .carousel-control .icon-prev {
        margin-right: 130px !important;
    }
    .carsoul-inputs .left .sr-only {
        right: 119px;
    }
    .carsoul-inputs .carousel-control .glyphicon-chevron-right,
    .carsoul-inputs .carousel-control .icon-next {
        margin-right: 64px;
    }
    .carsoul-inputs .right .sr-only {
        right: 122px;
    }
    .background-search-int {
        width: 95%;
        margin-right: 2%;
    }
    .search input {
        margin-bottom: 15px;
        width: 100%;
    }
    .modal-dialog {
        margin-left: 0% !important;
    }
    .panel-title-left a {
        color: black;
        font-weight: bold;
        padding: 28px 0px 26px 0px;
    }
    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-left {
        right: 11%;
    }
    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-left,
    .slider .carousel-control.left,
    .bottom-slider .carousel-control.left,
    .bottom-slider .carousel-control.right,
    .slider .carousel-control.right {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .menu-web ul li {
        display: inline-block;
        margin-left: -2px !important;
    }
    .menu-web ul li a {
        font-size: 12px;
    }
    .menu-web ul li.login {
        margin-right: 4px !important;
        margin-left: 0px !important;
    }
    .menu-web ul li.free a {
        padding: 10px 12px;
    }
    .menu-web ul li.lang a {
        padding: 10px 14px;
    }
    .menu-web ul {
        float: left;
        margin-top: 18px;
    }
    .bloc-free img {
        width: 100%;
        height: auto;
    }
    .menu-white-dash {
        margin-top: -13px;
    }
    .modal-dialog {
        margin-left: 12% !important;
    }
    .Recommended-block h4 {
        font-size: 13px;
    }
    h5.prize {
        font-size: 31px;
    }
    .Recommended-block {
        height: auto;
    }
    .search input {
        width: 100%;
        margin-bottom: 15px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border: 0px;
    }
    .nav-gemy>li>a {
        margin-bottom: 15px;
    }
    .carousel-control {
        display: none;
    }
    .panel-title-left a {
        color: black;
        font-weight: bold;
        padding: 28px 0px 26px 0px;
    }
    .menu-web ul li.free a {
        padding: 10px 9px !important;
    }
    li.login a {
        padding: 10px 8px !important;
    }
    .menu-web ul li.free {
        margin-right: 4px !important;
        margin-left: 0px !important;
    }
    .menu-web ul li.lang a {
        padding: 10px 6px;
    }
    .menu-web ul li {
        margin-right: 25px !important;
    }
}